body {
  background-color: #000;
}
 img {
    max-width: 35%;
    background: #000;
    border: #000;
    border-radius: 0.8rem;
    padding: 0.6rem;
}


header {
  text-align: center;
  padding: 40px 20px;
  background-color: #111;
}

header h1 {
  font-size: 2.5rem;
  color: #f5c400;
  margin: 0;
}

header p {
  color: #a4ff00;
  font-weight: bold;
  margin-top: 5px;
}


.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.hero h2 {
  margin-top: 20px;
  color: #a4ff00;
  font-size: 1.8rem;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.card {
  background-color: #141414;
  border: 1px solid #333;
  border-radius: 12px;
  width: 280px;
  padding: 20px;
  text-align: center;
}

.card h3 {
  color: #f5c400;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.5;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #aaa;
  font-size: 0.9rem;
  border-top: 1px solid #f5c400;
}
header {
  background-color: #222; 
  padding: 15px 10px;     
  text-align: center;
}

nav a {
  font-size: 1.2rem; 
  color: #f5c400;
  margin-left: 15px;
}

.logo {
  font-size: 2rem; 
  color: #f5c400;
  font-weight: bold;
}